html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    background-color: #18191e;
    /* background-repeat: no-repeat;
    background-size: cover; */
    color: white;
    height: 100vh;
}

p,
figure {
    margin: 0;
}

.player {
    display: grid;
    grid-template-rows: 60px 360px repeat(2, auto);
    grid-template-columns: 100%;
}

.player__header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player__header-text {
    font-size: 20px;
}

.player_cards-contenido {
    padding: 20px 0;
    scroll-snap-type: x mandatory;
    overflow: auto;
    white-space: nowrap;
}


/* .player__cards {
    width: max-content;
    padding: 0 20px;
} */

::-webkit-scrollbar {
    display: none;
}

.card {
    display: inline-block;
    height: 200px;
    width: 200px;
    margin-right: 20px;
    scroll-snap-align: center;
    border-radius: 50%;
    overflow: hidden;
}

.card:first-of-type {
    margin-left: 43vw;
}

.card:last-of-type {
    margin-right: 43vw;
}

.card__imagen {
    height: 100%;
    width: 100%;
}

.player__progress-bar {
    padding-top: 20px;
    text-align: center;
}

.player__music-tittle {
    font-size: 28px;
}

.player__music-band {
    font-size: 14px;
}

::-webkit-progress-bar {
    height: 2px;
}

.progress-bar {
    position: relative;
    height: 8px;
    width: 250px;
}

.progress-bar:before {
    content: '3:30';
    position: absolute;
    left: 0;
    bottom: -25px;
    font-size: 14px;
}

.progress-bar:after {
    content: '2:31';
    position: absolute;
    right: 0;
    bottom: -25px;
    font-size: 14px;
}

.player__buttons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.buttton {
    position: relative;
    flex: 0 0 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #282623;
    border: none;
    box-shadow: 35px 35px 69px #19181d, -35px -35px 69px #29282f;
    background-image: radial-gradient(circle at 56.16% 120.44%, #253a3f 0, #223337 12.5%, #1e2a2c 25%, #181e1e 37.5%, #0f0d0d 50%, #000000 62.5%, #000000 75%, #000000 87.5%, #000000 100%);
}

.button--big {
    flex: 0 0 80px;
    height: 80px;
}

.button__icono {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #b307ab;
}